<div class="row">
  <div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
    <h4
      class="
        text-danger
        d-flex
        align-items-center
        border-bottom border-danger
        pb-2
        mt-2
        mx-2
      "
    >
      <i class="fa fa-car me-2"></i>
      Manage Cars
      <button
        (click)="open(addNewCar)"
        class="btn btn-outline-danger btn-sm ms-auto"
      >
        ADD
      </button>
    </h4>

    <ul class="cars list-group" *ngIf="cars$ | async as cars">
      <li
        *ngFor="let car of cars; trackBy: identify"
        class="list-group-item d-flex mb-1 border rounded-0 shadow-sm"
      >
        <div>
          <label>{{ car.name }}</label>
        </div>
        <div class="ms-auto">
          <button
            class="btn btn-danger btn-sm shadow"
            (click)="open(deleteConfirmation, false, 'sm', true, car)"
          >
            <i class="fa fa-trash"></i>
          </button>
          <button
            (click)="open(addNewCar, true)"
            class="btn btn-warning btn-sm ms-3 shadow"
          >
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #deleteConfirmation let-modal>
  <div class="modal-header">
    <h6 class="modal-title">
      <i class="fa fa-trash text-danger"></i>
      Delete Confirmation !
    </h6>
  </div>
  <div class="modal-body">
    <p class="m-0 p-0">
      Are you sure! Do you whant to delete
      <span class="text-danger me-1 fw-bold">{{ activeCar?.name }}</span
      >?
    </p>
  </div>
  <div class="modal-footer px-0">
    <div class="d-flex justify-content-between w-100">
      <button
        (click)="modal.dismiss('Cross click')"
        class="btn shadow btn-dark w-50 me-2"
      >
        No
      </button>
      <button
        (click)="deleteCar(); modal.dismiss('Cross click')"
        class="btn shadow btn-danger w-50 ms-2"
      >
        Yes
      </button>
    </div>
  </div>
</ng-template>

<ng-template #addNewCar let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ isEdit ? 'Edit' : 'Add New' }} Car</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label">Car Brand</label>
      <input
        ngbAutofocus
        type="text"
        class="form-control"
        placeholder="Car Brand"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Car Model</label>
      <input type="text" class="form-control" placeholder="Car Brand" />
    </div>
    <div class="mb-3">
      <label class="form-label">Car Registration Number</label>
      <input
        type="text"
        class="form-control"
        placeholder="Car Registration Number"
      />
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Car Picture</label>
      <input class="form-control" type="file" id="formFile" />
    </div>
  </div>
  <div class="modal-footer px-0">
    <div class="d-flex justify-content-between w-100">
      <button
        (click)="modal.dismiss('Cross click')"
        class="btn shadow btn-dark w-50 me-2"
      >
        Cancel
      </button>
      <button class="btn shadow btn-danger w-50 ms-2">Save</button>
    </div>
  </div>
</ng-template>
