<nav class="navbar bg-danger navbar-dark shadow">
  <div class="container-fluid">
    <span class="navbar-brand fw-bold mb-0 h1">
      <span (click)="open(content)" role="button" class="text-light me-3"
        ><i class="fa fa-bars"></i
      ></span>
      <span class="text-dark me-2">RIYDE</span>
      <span class="text-light">TIME</span>
    </span>
  </div>
</nav>
<div class="container-fluid">
  <div
    class="
      d-flex
      flex-column
      border
      shadow
      align-items-center
      justify-content-center
      mt-3
    "
    style="height:calc(100vh - 80px)"
  >
    <h4 class="text-danger text-center m-0 p-0">
      <app-logo></app-logo>
    </h4>
    <h4 class="text-danger text-center m-0 p-0">🚗🚗🚗Comming Soon...🚗🚗🚗</h4>
  </div>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">
      <app-logo style="width:200px" class="d-flex w-50"></app-logo>
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group">
      <li class="list-group-item">Menu - 01</li>
      <li class="list-group-item">Menu - 02</li>
      <li class="list-group-item">Menu - 03</li>
      <li class="list-group-item">Menu - 04</li>
      <li class="list-group-item">Menu - 05</li>
    </ul>
  </div>
</ng-template>
