<div class="row">
  <div class="col-md-12 offset-md-0 col-sm-12 offset-sm-0">
    <h4 class="text-muted mt-2 mb-3 border-bottom pb-2 d-flex">
      Manage Cars
      <button (click)="showEditModal( getNewCar(), editCarModal, false)" class="btn btn-outline-danger btn-sm shadow-sm ms-auto">
        <i class="fa fa-plus me-1"></i> Add New Car
      </button>
    </h4>
    <ul class="list-group" *ngIf="cars$ | async as cars; else noCarsToShow">
      <li class="list-group-item d-flex align-items-center" *ngFor="let car of cars">
        <h6 class="m-0 p-0 w-100 me-2">
          <h5 [class.border-bottom]="car.open" [class.mb-2]="car.open" [class.pb-2]="car.open" class="w-100 d-flex align-items-center m-0 p-0">
            <span role="button" (click)="car.open = !car.open"> <i class="fa fa-car me-2 text-danger"></i> {{ car.title }} </span>
            <button (click)="deleteCar(car)" title="Delete Car" class="btn btn-danger btn-sm ms-auto shadow-sm">
              <i class="fa fa-trash"></i>
            </button>
            <button (click)="showEditModal(car, editCarModal)" title="Edit Car"
              class="btn btn-warning btn-sm ms-2 shadow-sm">
              <i class="fa fa-edit"></i>
            </button>
          </h5>
          <ul class="list-group" *ngIf="!!car?.open">
            <li class="list-group-item">Brand : <span class="fw-bold">{{ car.brand }}</span></li>
            <li class="list-group-item">Model : <span class="fw-bold">{{ car.model }}</span></li>
            <li class="list-group-item">Type : <span class="fw-bold">{{ car.type }}</span></li>
            <li class="list-group-item">No Of Seats : <span class="fw-bold">{{ car.noOfSeats }}</span></li>
            <li class="list-group-item">Registration Number: <span class="fw-bold"> {{ car.registrationNumber }}</span></li>
            <li class="list-group-item">Color : <span class="fw-bold">{{ car.color }}</span></li>
            <li class="list-group-item">RC Photo : <span class="fw-bold">{{ car.rcPhoto }}</span></li>
            <li class="list-group-item">Polution Photo : <span class="fw-bold">{{ car.polutionPhoto }}</span></li>
            <li class="list-group-item">Insurance Photo : <span class="fw-bold">{{ car.insurancePhoto }}</span></li>
            <li class="list-group-item">Chassie Number : <span class="fw-bold">{{ car.chassieNumber }}</span></li>
            <li class="list-group-item">Engine Number : <span class="fw-bold">{{ car.engineNumber }}</span></li>
          </ul>
        </h6>

      </li>
    </ul>
  </div>
</div>

<div class="modal fade" bsModal #editCarModal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="dialog-static-name" class="modal-title pull-left">
          {{ isEdit ? "Edit" : "Add New " }} Car
        </h6>
        <button class="btn btn-outline-danger btn-sm" (click)="editCarModal.hide()">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body pt-1">
        <ng-firestore-form #form [controls]="controls"></ng-firestore-form>

        <div class="d-flex" *ngIf="!!form?.firesoteForm">
          <button type="button" (click)="form.resetForm()" class="w-50 btn btn-dark me-1">Reset</button>
          <button (click)="saveEdit(editCarModal)" [disabled]="form?.firesoteForm?.invalid" class="w-50 btn btn-danger ms-1">Save</button>
        </div>

        <pre>{{ form?.firesoteForm?.value | json }}</pre>
        <!--
          <pre>{{ form?.defaultValues | json }}</pre>
          <pre>{{ form?.firesoteForm?.invalid | json }}</pre>
        -->

        <!-- <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
      </div>
<!--       <form #carForm="ngForm" class="modal-body">
        <div class="row">
          <div class="col-md-6 mb-3"> <label class="form-label">Title</label>               <input required minlength="3" type="text" name="title" #title [(ngModel)]="editCar.title" class="form-control" placeholder="Enter Car Title" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">Brand</label>               <input type="text" name="brand" #brand [(ngModel)]="editCar.brand" class="form-control" placeholder="Enter Car Brand" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">Model</label>               <input type="text" name="model" #model [(ngModel)]="editCar.model" class="form-control" placeholder="Enter Car Model" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">Type</label>                <input type="text" name="type" #type [(ngModel)]="editCar.type" class="form-control" placeholder="Enter Car Type" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">No Of Seats</label>         <input type="text" name="noOfSeats" #noOfSeats [(ngModel)]="editCar.noOfSeats" class="form-control" placeholder="Provide No Of Seats" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">Registration Number</label> <input type="text" name="registrationNumber" #registrationNumber [(ngModel)]="editCar.registrationNumber" class="form-control" placeholder="Enter Car Registration Number" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">Color</label>               <input type="text" name="color" #color [(ngModel)]="editCar.color" class="form-control" placeholder="Provide Car Color" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">RC Photo</label>            <input type="file" (change)="onFileChange($event,'rcPhoto')" accept=".png,.jpg" name="rcPhoto" #rcPhoto class="form-control" placeholder="Provide Car RC Photo" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">Polution Photo</label>      <input type="file" (change)="onFileChange($event,'polutionPhoto')" accept=".png,.jpg" name="polutionPhoto" #polutionPhoto class="form-control" placeholder="Provide Car Polution Photo" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">Insurance Photo</label>     <input type="file" (change)="onFileChange($event,'insurancePhoto')" accept=".png,.jpg" name="insurancePhoto" #insurancePhoto class="form-control" placeholder="Provide Car Insurance Photo" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">Chassie Number</label>      <input type="text" name="chassieNumber" #chassieNumber [(ngModel)]="editCar.chassieNumber" class="form-control" placeholder="Enter Car Chassie Number" /> </div>
          <div class="col-md-6 mb-3"> <label class="form-label">Engine Number</label>       <input type="text" name="engineNumber" #engineNumber [(ngModel)]="editCar.engineNumber" class="form-control" placeholder="Enter Car Engine Number" /> </div>
        </div>

        <ng-firestore-form [controls]="controls"></ng-firestore-form>

        <div class="d-flex">
          <button (click)="saveEdit(editCarModal)" [disabled]="carForm.invalid" class="btn btn-outline-danger btn-sm ms-auto">Save</button>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </form> -->
    </div>
  </div>
</div>

<ng-template #noCarsToShow>
  <h5 class="text-center text-danger">
    <i class="fa fa-exclamation text-danger" aria-hidden="true"></i> No Cars to
    Show...
  </h5>
</ng-template>


